@model TodoList.ViewModels.TodoTask
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  @Model.Title</h1>
    <p>@Model.Id</p>
    <p>@Model.Title</p>
    <p>@Model.CreatedAt</p>
    <p>@((int)Model.Status)</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
